@import "react-notion-x/src/styles.css";
@import "prismjs/themes/prism.css";
@import "katex/dist/katex.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Pretendard";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2")
        format("woff2");
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2")
        format("woff2");
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2")
        format("woff2");
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2")
        format("woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2")
        format("woff2");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2")
        format("woff2");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2")
        format("woff2");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2")
        format("woff2");
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2")
        format("woff2");
    font-weight: 900;
    font-display: swap;
}

@layer base {
    html {
        font-family: "Pretendard", system-ui, -apple-system, "Segoe UI", Roboto,
            "Noto Sans KR", "맑은 고딕", sans-serif;
    }

    body {
        background-color: #eff6ff;
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
        color: #334155;
        font-weight: 700;
        line-height: 1.6;
    }

    p {
        color: #717182;
        font-weight: 400;
        line-height: 1.6;
        font-size: 0.8125rem;
    }

    /* mobile sizes */
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.25rem;
    }
    h3 {
        font-size: 1.125rem;
    }
    h4 {
        font-size: 1rem;
    }
    h5 {
        font-size: 0.875rem;
    }

    @media (min-width: 768px) {
        h1 {
            font-size: 2.5rem;
        }
        h2 {
            font-size: 2rem;
        }
        h3 {
            font-size: 1.5rem;
        }
        h4 {
            font-size: 1.25rem;
        }
        h5 {
            font-size: 1.125rem;
        }
        p {
            font-size: 1rem;
        }
    }
}

@media (hover: hover) {
    button:hover {
        filter: brightness(0.95);
    }
}

.logo-fill {
    clip-path: inset(0 100% 0 0);
    animation: logoFillSnap 2s linear infinite;
}

@keyframes logoFillSnap {
    0% {
        clip-path: inset(0 100% 0 0); /* 0% */
    }
    55% {
        clip-path: inset(0 0% 0 0); /* 100% 채움 */
    }
    70% {
        clip-path: inset(0 0% 0 0); /* 잠깐 유지 */
    }
    75.00% {
        clip-path: inset(0 100% 0 0); /* 여기서 뿅 리셋 */
    }
    100% {
        clip-path: inset(0 100% 0 0); /* 리셋 상태로 대기 */
    }
}

@layer utilities {
    /* success */
    .toast-gradient-success {
        @apply bg-gradient-to-r from-cyan-50 to-sky-100 border-sky-200 shadow-sky-700/15 shadow-lg text-sky-800;
    }

    /* info */
    .toast-gradient-info {
        @apply bg-gradient-to-r from-emerald-50 to-cyan-100 border-emerald-200 shadow-cyan-700/15 shadow-lg text-cyan-800;
    }

    /* warning */
    .toast-gradient-warning {
        @apply bg-gradient-to-r from-amber-50 to-orange-100 border-orange-200 shadow-orange-700/15 shadow-lg text-orange-800;
    }

    /* error */
    .toast-gradient-error {
        @apply bg-gradient-to-r from-pink-50 to-red-100 border-pink-200 shadow-red-700/15 shadow-lg text-pink-800;
    }

    /* loading */
    .toast-gradient-loading {
        @apply bg-gradient-to-r from-slate-50 to-slate-100 border-slate-300 shadow-slate-700/15 shadow-lg text-slate-800;
    }
}

/* =========================
   공통
========================= */
/* 공통 */
.toaster [data-sonner-toast] {
    @apply border shadow-lg rounded-xl shadow-slate-700/15 border-slate-300;
}
.toaster [data-sonner-toast][data-type="success"] {
    @apply toast-gradient-success;
}

.toaster [data-sonner-toast][data-type="info"] {
    @apply toast-gradient-info;
}

.toaster [data-sonner-toast][data-type="warning"] {
    @apply toast-gradient-warning;
}

.toaster [data-sonner-toast][data-type="error"] {
    @apply toast-gradient-error;
}

.toaster [data-sonner-toast][data-type="loading"] {
    @apply toast-gradient-loading;
}
